.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
.Spotlight-V100

.idea/
*.sln.docstates

*.user
*.userosscache
*.sln.iml

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

publish/
*.azurePubxml

*.db-shm
*.db-wal

appsettings.Local.json
appsettings.Production.json
*.env
*.pem
*.pfx

*.db
*.sqlite

.docker/
docker-compose.override.yml