html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #EFECE6 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

.brand-logo {
  font-size: 1.5rem;
  letter-spacing: -0.04em;
}

.nav-item-link {
  font-size: 0.75rem;
  letter-spacing: 0.08em;
}

@media (min-width: 576px) {
  .navbar .container-fluid {
    position: relative;
  }

  .navbar-collapse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
  }
}

@media (max-width: 575.98px) {
  .navbar .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-collapse {
    flex-basis: 100%;
  }
}
